.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: black;
}

.navigation {
  opacity: 1;
  transition: opacity 1s;
  text-align: center;
}

.fade {
  background: yellow;
  opacity: 0;
  transition: opacity 10s;
}